* {
    box-sizing: border-box;
  }

  body, html {
    height: 100%;
  }
  
body{
    font-family: 'Roboto', sans-serif;
}

.topo{
    background-color: #04aa6d;
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.topo h1 {
    font-size: 24px;
    font-weight: 500;
    font-style: italic;
}

.base{
    background-color: #04aa6d;
    width: 100vw;
    height: 10vh;
    position: absolute;
    left: 0;
    bottom: 0;

    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 0 4px rgba(0, 0, 0);
}

.base div{
    display: flex;
    align-items: baseline;
}

.icons{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    font-size: 16px;
    height: 8vh;
}

a:visited {
    color: unset;
}

a:active {
    color: unset;
}

a{
    text-decoration: none;
}

.conteudo{
    display: flex;
}

.menu{
    background-color: #1d2a35;
    width: 20vw;
    height: 80vh;
    scroll-behavior: auto;
    overflow-y: scroll;
    color: aliceblue;
}

.menu li{
    font-size: 16px;
    padding: 5px 10px;
    cursor: pointer;
}

.menu li:hover{
    background-color: #344655;
}

.menu h3{
    font-size: 20px;
    padding: 10px 10px;
}

.descricaoTela{
    width: 80vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.descricao{
    width: 60vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.descricao h2{
    font-weight: 500;
}